Flask==2.0.2
Flask-API==3.0.post1
Flask-Cors==3.0.10
Flask-Login==0.5.0
Flask-Mobility==1.1.0
Flask-SQLAlchemy==2.5.1
PyJWT==2.3.0
PyMySQL==1.0.2
pyOpenSSL==21.0.0
toml==0.10.2
xlrd==1.2.0
XlsxWriter==3.0.2
